<br/>
<h3><span style="border-bottom: 1px dotted #4c4c4c;">Latest from the Process & Workflow Blog &rarr;</span></h3>

<p>04 June - <a href="http://blog.countersoft.com/2013/06/3-things-that-will-kill-your-process-workflow/">
3 Things That Will Kill Your Process Workflow</a></p>

<p>01 May - <a href="http://blog.countersoft.com/2013/05/3-ways-to-prioritize-support-tickets/">
3 Ways To Prioritize Support Tickets</a></p>

<p>24 April - <a href="http://blog.countersoft.com/2013/04/pair-programming-once-a-month/">
Pair Programming Once a Month</a></p>

<p>17 April - <a href="http://blog.countersoft.com/2013/04/common-problems-with-email-ticketing/">
Common Problems With Email Ticketing</a></p>

<p>10 April - <a href="http://blog.countersoft.com/2013/04/3-popular-agile-infographics/">3 Popular Agile Infographics</a></p>

<p>03 April - <a href="http://blog.countersoft.com/2013/04/4-killer-questions-every-project-roadmap-should-answer/">4 Killer Questions That Every Project Roadmap Should Answer</a></p>

<p>27 March - <a href="http://blog.countersoft.com/2013/03/5-tips-for-running-a-slick-help-desk/">Five Tips For Running a Slick Help Desk</a></p>

<p>20 March - <a href="http://blog.countersoft.com/2013/03/bridging-the-gap-between-support-and-development/">Bridging the Gap Between Support and Development</a></p>

<p>15 March - <a href="http://blog.countersoft.com/2013/03/bridging-the-gap-between-support-and-development/">The Basics of Running Agile Projects</a></p>

<p>12 March - <a href="http://blog.countersoft.com/2013/03/basics-of-running-agile-projects/">6 Steps to Enterprise-wide Issue Tracking</a></p>

<p>08 March - <a href="http://blog.countersoft.com/2013/03/agile-manifesto-infographic/">Mind Map of Agile Principles & Manifesto</a></p>
