<h1>Gemini Documentation</h1>
<p>Product documentation for Gemini v6.5.0 release providing end user, administrator and developer materials.</p>

<table class="table width-100">
    <thead>
        <tr>
            <th>Getting Started</th>
            <th>Essentials</th>
            <th>Administration</th>
        </tr>
    </thead>
    <tr>
        <td><a href="/installing">Installing</a></td>
        <td><a href="/managing-agile-and-scrum">Running Agile</a></td>
        <td><a href="/understanding-project-templates">Understanding Project Templates</a></td>
    </tr>

    <tr>
        <td><a href="/upgrading">Upgrading</a></td>
        <td><a href="/managing-time">Managing Time</a></td>
        <td><a href="/people-and-permissions">People and Permissions</a></td>
    </tr>

    <tr>
        <td><a href="/concepts">Gemini Concepts</a></td>
        <td><a href="/email-notifications">Email Notifications</a></td>
        <td><a href="/managing-projects">Managing Projects</a></td>
    </tr>
</table>

{% include common-links.html %}

<h2 class="video-header">Gemini Overview</h2>
<iframe class="video" src="//player.vimeo.com/video/87856875" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
