<h1>Gemini Documentation</h1>
<p>Product documentation for Gemini v6.2 release providing end user, administrator and developer materials.</p>

<table class="table width-100">
    <thead>
        <tr>
            <th>Getting Started</th>
            <th>Essentials</th>
            <th>Administration</th>
        </tr>
    </thead>
    <tr>
        <td><a href="/Installing">Installing</a></td>
        <td><a href="/managing-agile-and-scrum">Running Agile</a></td>
        <td><a href="/Understanding-Project-Templates">Understanding Project Templates</a></td>
    </tr>

    <tr>
        <td><a href="/Upgrading">Upgrading</a></td>
        <td><a href="/Managing-Time">Managing Time</a></td>
        <td><a href="/People-and-Permissions">People and Permissions</a></td>
    </tr>

    <tr>
        <td><a href="/Concepts">Gemini Concepts</a></td>
        <td><a href="/Email-Notifications">Email Notifications</a></td>
        <td><a href="/Managing-Projects">Managing Projects</a></td>
    </tr>
</table>

{% include common-links.html %}

<h2 class="video-header">Gemini Overview</h2>
<iframe class="video" src="//player.vimeo.com/video/87856875" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>