<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	    <modules runAllManagedModulesForAllRequests="false" />
		<httpErrors errorMode="Custom" existingResponse="Replace">
		    <remove statusCode="404" />
		    <error statusCode="404" responseMode="File" path="404.html" />
		</httpErrors> 
	    <rewrite> 
		    <rules> 
                <rule name="CanonicalHostNameRule" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{HTTP_HOST}" pattern="^countersoft\-docs\.github\.io$" negate="true" />
                  </conditions>
                  <action type="Redirect" url="http://countersoft-docs.github.io/{R:1}" />
                </rule>
                <rule name="RemoveTrailingSlashRule" enabled="true" stopProcessing="true">
                  <match url="(.*)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
                </rule>
                 <rule name="LowerCaseRule" stopProcessing="true">
                  <match url="[A-Z]" ignoreCase="false" negate="false" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{URL}" pattern="WebResource.axd" negate="true" />
                    <add input="{URL}" pattern=".js$" negate="true" />
                    <add input="{URL}" pattern=".css$" negate="true" />
                    <add input="{URL}" pattern=".png$" negate="true" />
                    <add input="{URL}" pattern=".gif$" negate="true" />
                    <add input="{URL}" pattern=".pdf$" negate="true" />
                    <add input="{URL}" pattern=".doc$" negate="true" />
                    <add input="{URL}" pattern=".jpg$" negate="true" />
                    <add input="{URL}" pattern=".jpeg$" negate="true" />
                    <add input="{URL}" pattern=".ico$" negate="true" />
                  </conditions>
                  <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
	        </rules> 
	    </rewrite> 
    </system.webServer>
</configuration>